about-time==4.2.1
alive-progress==3.1.4
autograd==1.5
cloudpickle==2.2.1
cma==3.2.2
contourpy==1.1.0
copulas>=0.10.0,<=0.11.0
cycler==0.11.0
Deprecated==1.2.14
dill==0.3.6
Farama-Notifications==0.0.4
filelock==3.12.2
fonttools>=4.40.0
future==0.18.3
grapheme==0.6.0
gym-notices==0.0.8
gymnasium>=0.28.1,<=0.29.0
jax-jumpy==1.0.0
Jinja2>=3.1.2
joblib==1.3.2
kiwisolver==1.4.4
MarkupSafe==2.1.3
matplotlib==3.7.1
mpmath==1.3.0
networkx==3.1
notebook
numpy>=1.24.3,<=1.26.4
packaging==23.1
pandas==2.0.2
Pillow>=9.5.0,<=10.4.0
plotly==5.19.0
ply==3.11
pymoo==0.6.0.1
Pyomo==6.6.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
scikit-learn==1.3.1
scipy>=1.10.1,<=1.14.0
setuptools==70.1.1
Shimmy==1.2.1
six==1.16.0
stable-baselines3==2.0.0
sympy==1.12
tenacity==8.2.3
threadpoolctl==3.2.0
torch>=2.0.1,<=2.3.1
typing_extensions>=4.7.1,<=4.12.2
tzdata==2023.3
wrapt==1.15.0
